apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: open-cluster-management
  namespace: {{ acm['operator_namespace'] }}
spec:
  targetNamespaces:
  - {{ acm['operator_namespace'] }}
